@use "../../assets/styles/variables" as *;

.single_joke__card {
  padding: 1em;
  background-color: $white2;
  border: 1px solid $white;

  .single_joke__card_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;

    .status {
      color: $pastel-orange;
      font-size: 0.9rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.3em;

      @media (max-width: 450px) {
        font-size: 0.7rem;
      }

      @media (max-width: 375px) {
        font-size: 0.7rem;
      }

      .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $pastel-orange;
      }
    }
  }

  .title {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    margin-bottom: 2em;
    color: $brown1;

    .title__text {
      font-size: 2.5rem;
      text-transform: capitalize;

      @media (max-width: 820px) {
        font-size: 1.7rem;
      }


      @media (max-width: 450px) {
        font-size: 1.5rem;
      }

      @media (max-width: 375px) {
        font-size: 1rem;
      }
    }

    .line {
      border-bottom: 1px solid $brown1;
      width: 33%;

      @media (max-width: 820px) {
        width: 20%;
      }

      @media (max-width: 450px) {
        width: 10%;
      }

    }

    .position {
      font-size: 0.8rem;
      font-weight: 600;

      @media (max-width: 375px) {
        font-size: 0.6rem;
      }
    }
  }

  .body {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: $black2;

    @media (max-width: 450px) {
      font-size: 0.8rem;
    }
  }
}
