@use "../../assets/styles/variables" as *;

footer {
    background-image: url("../../assets/images1/bitmap_2@3x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    .footer__text {
        color: $white;
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 600;
    }
}