@use "../../assets/styles/variables" as *;


.like_btn {
    width: fit-content;
    cursor: pointer;

    &:hover {
        filter: brightness(0.6);
    }

  .icon__wrapper {
    padding: .5em;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: .5em;
  }


  .like_btn__text{
    font-size: .7rem;
    text-align: center;
  }

  .text-red {
    color: $smooth-red;
  }

  

  .text-green {
    color: $weird-green;
  }


  .smooth-red {
    background-color: $smooth-red;
  }

  .weird-green {
    background-color: $weird-green;
  }
}
