@use "../../assets/styles/variables" as *;

.jokes__wrapper {
  position: relative;
  margin-bottom: 4em;
}

.jokes_cards__wrapper {
  border-top: 1px solid $ash;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: auto;
    gap: 1em;
    margin: 1.2em 0 3em;
  }

  .more__btn {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 375px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}
