$white: #f9f9f9;
$white2: #ffffff;
$weird-green: #57e690;
$pastel-orange: #ff915b;
$pale-orange: #ffbe5b;
$kiwi-green: #8fe360;
$light-gold: #ffdf5b;
$white-three: #ecebe9;
$black: #303030;
$brown1: #cfb995;
$ash: #b2b2b2;
$smooth-red:#ff5b5b;
$smooth-blue: #57dbe6;
$brown2: #d0ba93;
$black2: #5e5e5e;

